<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Application/Read</title>
</head>
<body>
       <h2 align="center">Dashboard</h2>
       <p><a href="/create">Create</a></p>
       <table border="1" align="center">
              <tr>
                     <th>Sr.No</th>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Phone</th>
                     <th>Description</th>
              </tr>
              {% for x in data %}
              <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{x.Name}}</td>
                     <td> {{x.email}}</td>
                     <td> {{x.mobile}} </td>
                     <td>{{x.Msg}}</td>
                     <td><a href="/update/{{x.id}}">Edit</a></td>
                     <td><a href="/delete/{{x.id}}">Delete</a></td>
              </tr>
              {% endfor %}
       </table>
       
</body>
</html>